<nav class="navbar border-bottom border-dark navbar-expand-lg navbar-light py-3" style="background-color: #b2d7f1;">
    <div class="container">
        <a class="navbar-brand fw-bold fs-4" href="/blogs">Blogger</a>
        <!-- <a class="navbar-brand fw-bold fs-4" href="#"><img src="https://cdn-icons.flaticon.com/png/512/4401/premium/4401405.png?token=exp=1647506456~hmac=69a4308b8620101725c00f93a7f64866" alt=""></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/blogs">Our Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/blogs/new">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">SignUp</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active bg-dark text-light rounded-pill px-3">Get Started</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>